@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(75 85 99) rgb(17 24 39);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(17 24 39);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(75 85 99);
  border-radius: 4px;
}
